mixin footer()
    footer.footer
        .footer__wrapper 
            .footer__block-nav
                .footer__item 
                    .footer__link 
                        +link({
                            href: 'https://mcvest.github.io/HW_general/',
                            text: 'Home'
                        })
            .footer__copyright-info
                .footer__copyright-info__wrapper
                    p.copyright-info (с) 2021. Все права защищены.