mixin generalInfo()
    .generalInfo
        .generalInfo__wrapper
            .generalInfo__subtitle__wrapper
                h2.generalInfo__subtitle Передовая IT студия
            .generalInfo__title__wrapper
                h1.generalInfo__title  Мы создаем легкие решения сложных задач и проблем
            .generalInfo__project
                .generalInfo__link
                    +link({
                        href: 'https://mcvest.github.io/HW_general/',
                        text: 'Наши проекты'
                    })