mixin navigation()
    .navigation
        .navigation__wrapper
        input(type='checkbox').navigation__menu__toggle#menu__toggle
        label(for='menu__toggle').navigation__menu__btn
            span
        nav.navigation-block
            ul.navigation__menu
                li.navigation__item
                    +link({
                        href: '#',
                        text: 'Главная'
                    })
                li.navigation__item
                    +link({
                        href: '#',
                        text: 'Наши проекты'
                    })
                li.navigation__item
                    +link({
                        href: '#',
                        text: 'Услуги'
                    })
                li.navigation__item
                    +link({
                        href: '#',
                        text: 'Новости'
                    })
                li.navigation__item
                        +link({
                            href: '#',
                            text: 'Контакты'
                        })
