doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="main.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Raleway:wght@300&display=swap" rel="stylesheet")
  title Document
  body 
    header.header
      .header__wrapper
        .team
          .team__wrapper
            h5.team__subtitle 
              |THE GENIUSES BEHIND OUR WORK
            h1.team__title
              |OUR TEAM
            .team__devider
              .team__line
              .team__svg
                img(src="./img/bonfire-icon.png" alt="bonfire")
              .team__line
    main.main
      .main__wrapper
        .team-detail__card
          .team-detail__card-left
            .team-detail__photo
              .photo__card
                img.photo__card__img(src="./img/photo.png" alt="photo")
          .team-detail__card-line
          .team-dtetail__card-right
            .detail__info
              .detail__info__item
                h3.detail__info__name 
                  | Sahariar Kabir
              .detail__info__item
                .detail__info_line
              .detail__info__item
                .detail__info__position
                  | Frontend Developer
              .detail__info__item
                .social
                  .social__item
                    .social__icon
                      a(href="https://uk-ua.facebook.com")
                        img(src="./img/facebook.svg", alt="facebook")
                  .social__item
                    .social__icon
                      a(href="https://twitter.com/?lang=uk")
                        img(src="./img/twiter.svg", alt="twitter")
                  .social__item
                    .social__icon
                      a(href="https://www.google.com/account/about/")
                        img(src="./img/google_plus.svg", alt="google")
                  .social__item
                    .social__icon 
                      a(href="https://www.linkedin.com/feed/")
                        img(src="./img/linked.svg", alt="linked")
              .detail__info__item
                .detail__info__about
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
              .detail__info__item
                .detail__info_line-dotted
              .detail__info__item
                button.detail__info__button VIEW PROFILE
    footer.footer
      .footer__wrapper
        .footer__nav
          nav.nav
            a.team__title.team__title-footer(href="https://mcvest.github.io/HW_general/" ) Home

